<a href="auth/signup">Please Sign Up</a>
<a href="auth/login">Please Log In</a>

{{#if user}}
<h1>Welcome to your homepage, {{user.username}}</h1>
<div>
    <a href="/main"> Main Page</a>
    <a href="/private"> Private page</a>
</div>
{{/if}}